html, body {  
  margin:0px;  
  height:100vh;  
  width: 100%;
} 

.slide-hobbies::-webkit-scrollbar{
width: 8px;
height: 5px;
}

::-webkit-scrollbar-thumb{
background: #16d135;
border-radius: 5px;
}

#hero-home-image{
  background-image: url("https://cdn.pixabay.com/photo/2022/01/14/07/48/digitization-6936701_1280.jpg");
  background-size: cover;
}