body{
    font-family: 'Libre Franklin', sans-serif;
}
#hero-home{
    height: 400px;
    width: 100%;
    background-image: url("https://cdn.pixabay.com/photo/2018/09/27/09/22/web-3706563_960_720.jpg");
    background-size: cover;
}

#hero-home img{
    width: 25%;
    height: 280px;
    border-radius: 100%;
    border: 6px #fff solid;
}
#btn:hover{
    width: 105px;
    height: 35px;
    background-color: #000;
    color: #fff;
}

#grid-container div{
    background-color: #252525;
    border: solid black 2px;
    text-align: center;
    display: flex;
    align-items: center;
    color: #fff;
    text-align: justify;
    padding: 15px;
}